# Local development
REACT_APP_API_URL=http://localhost:5000
# REACT_APP_API_URL=https://heron-proto-qtrw-d7gbxdi8u-jerem11222002s-projects.vercel.app

# Or production:
# REACT_APP_API_URL=https://heronproto-1.onrender.com
