@use '../../style.scss' as *;

.featured-title {
  @include themify($themes) {
    padding: 20px;
    background-color: themed("bg");
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px themed("shadow");
  
    .title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
  
      h1 {
        font-size: 24px;
        font-weight: 600;
        color: themed("textColor");
      }
    }
  
    .title-description {
      p {
        color: themed("textColor");
        font-size: 14px;
        font-weight: 500;
        opacity: 0.85;
      }
    }
  }
}